@{
}


<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Messenger</title>
</head>

<body style="color:Yellow; background-color:Black">
    <br><br><br>
    <center>
        <h1>Messenger </h1>
        <br>
        <br>
        <br>
        <br>
        <table>
            <tr>
                <td><a href="~/Home/log_in"><h3>Авторизоваться</h3></a></td>
            </tr>
            <tr>
                <td><a href="~/Home/registration"><h3>Зарегистрироваться</h3></a></td>
            </tr>
        </table>
    </center>
    <br><br><br><br><br><br><br><br><br><br><br><br>
</body>

</html>
