@using messenger.Models

<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Messenger</title>
    <meta http-equiv="refresh" content="10">
    <script>
    function f(){
    window.scrollTo(0,100000);
    }
    </script>
</head>

    <body style="color:Yellow;" onload="f()">
 
        @foreach (string item in FileSupport.Read())
         {
             <p> @item </p>
         }
    </body>

</html>
